* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

main {
  flex: 1 1 auto;
  overflow: auto;
  padding: 60px;
}

.wrapper {
  display: flex;
  height: 100vh;
}